@model MVC5Demo.Models.Individual

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <h2>@Html.DisplayFor(model => model.Fullname)</h2>

    <fieldset class="form-horizontal">
        <legend>Edit the record information</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="control-group">
            @Html.LabelFor(model => model.Balance, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.Balance)
				@Html.ValidationMessageFor(model => model.Balance, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.Fullname, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.Fullname)
				@Html.ValidationMessageFor(model => model.Fullname, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.Spouse, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.Spouse)
				@Html.ValidationMessageFor(model => model.Spouse, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.DOB, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.DOB)
				@Html.ValidationMessageFor(model => model.DOB, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="control-group">
            @Html.LabelFor(model => model.DOD, new { @class = "control-label" })
			<div class="controls">
				@Html.EditorFor(model => model.DOD)
				@Html.ValidationMessageFor(model => model.DOD, null, new { @class = "help-inline" })
			</div>
		</div>

        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

