@model MVC5Demo.Models.ManageUserViewModel


@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="content">
        <div class="content_banner">
            <h4><i class="fa fa-lock"></i>&nbsp;&nbsp;&nbsp;Change your Password</h4>
        </div>

        <form>
            <fieldset>
                <div>
                    <h3><i class="fa fa-github"></i>Individuals Information</h3>
                    <small>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada semper mi, id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
                    </small>
                </div>
                <div class="margin-t-b">
                    <div class="left width-45 padding-l-r-5">
                        <div class="input-group">
                            <label>Enter your new password</label>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "help-inline" })
                            <small>Enter your new desired password</small>
                        </div>
                    </div>
                    <div class="left width-45 padding-l-r-5">
                        <div class="input-group">
                            <label>Re-enter your new password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "help-inline" })
                            <small>Confirm your password</small>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                
            </fieldset>
            <button type="submit" class="btn background-blu margin-l color-whi right">
                <i class="fa fa-user"></i>&nbsp;&nbsp;Submit
            </button>
        </form>
    </div>
}