@model MVC5Demo.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="login_head">
    <h1>Smiths Funeral Home</h1>
    <h2><i class="fa fa-briefcase"></i>&nbsp;&nbsp;&nbsp; Management</h2>
</div>
       
<div id="login_form">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <h1>Sign in</h1>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id="loginForm", @Value = "Username" })

        <i class="fa fa-flag"></i>
        @Html.PasswordFor(m => m.Password, new { @class="form-control", @Value = "Password" })

        <i class="fa fa-lock"></i>
        @Html.ValidationSummary(true)

       <button type="submit">Submit</button>
        <p>Forgot your password?</p>
    }
</div>
<h4>Copyright 2014. All Rights Reserved.</h4>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}